* {
    margin: 0;
  }

::-webkit-scrollbar{
    
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #cfa188;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #96453C;
}

::-webkit-scrollbar-thumb:hover{
    background: #CC7C2D; 
}



* {box-sizing: border-box;}

.logo{
    position: absolute;
    overflow: hidden;
    height: 70px;
    width: 70px;
    left: 100px;
    transition: 250ms;
    background-size: 70px 70px;
	
}

.logo:hover{
    height: 70px;
    width: 75px;
    background-color: #DCEBB0 ;
}

.navi{
    text-align: center;
    background-color: #B87E5F;
    width: 100%;
    height: 70px;
    font-family: New-Times-Roman;
	maximum-width: 100%;
   margin-bottom: 60px;
}



li.a{
    border-collapse: separate;
font-family: New-Times-Roman;
    display: inline-block;
    padding: 20px 110px;
}

li.a a:link{
    color: #FFFFFF;
    font-size: 30px;
    text-decoration: none;
}

li.a a:after {
    display:block;
    content: '';
    border-bottom: solid 3.5px #96453C;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    
}
li.a a:hover{
    cursor: pointer;
    color: #96453C;
}

li.a a:hover:after{
    border-collapse: separate;
    border-spacing: 10px;
    transform: scaleX(1); 
}


.creat p{
	text-align: center;
	font-size: 50px;
	font-family: New-Times-Roman;
	margin-bottom: 70px;
}

.info{
	
	margin-left: 34%;
    background-color: #B87E5F;
    width: 450px;
    height: 80px;
	 text-align: center;
	
	 margin-bottom: 99px;
}

.pic img{
	float: center;
	width: 110px;
	height: 115px;
	border-radius: 50px;
	margin-left: 47%;
}

.info p {
	float: left;
	padding-left: 60;
	font-size: 20px;
	font-family: New-Times-Roman;
}

.info img{
	width: 55px;
	height: 55px;
	margin-left: 65%;
	margin-top: -51px;
}

.info img a:hover{
    cursor: pointer;
    opacity: 15%;
}

.info1{
	
	margin-left: 34%;
    background-color: #B87E5F;
    width: 450px;
    height: 80px;
	 text-align: center;
	
	 margin-bottom: 99px;
}

.pic1 img{
	float: center;
	width: 110px;
	height: 115px;
	border-radius: 50px;
	margin-left: 47%;
}

.info1 p {
	float: left;
	padding-left: 60;
	font-size: 20px;
	font-family: New-Times-Roman;
}

.info1 img{
	width: 55px;
	height: 55px;
	margin-left: 65%;
	margin-top: -51px;
}

.info1 img a:hover{
    cursor: pointer;
    opacity: 15%;
}

.info2{
	
	margin-left: 34%;
    background-color: #B87E5F;
    width: 450px;
    height: 80px;
	 text-align: center;
	
	 margin-bottom: 45px;
}

.pic2 img{
	float: center;
	width: 110px;
	height: 115px;
	border-radius: 50px;
	margin-left: 47%;
}

.info2 p {
	float: left;
	padding-left: 60;
	font-size: 20px;
	font-family: New-Times-Roman;
}

.info2 img{
	width: 55px;
	height: 55px;
	margin-left: 65%;
	margin-top: -51px;
}

.info2 img a:hover{
    cursor: pointer;
    opacity: 15%;
}

.lg img {
	width: 500px;
	height: 500px;
	margin-left: 30px;
}

.infos h1{
	font-size: 60px;
	font-family: "New Times Roman";

	margin-top: -300px;
	margin-left: 605px;
}

.infos p{
	font-size: 20px;
	font-family:"New Times Roman";
margin-left: 500px;
margin-right: 100px;
margin-bottom: 20px;
}

.cont p{
	font-size: 20px;
	font-family: New-Times-Roman;
	margin-left: 110px;
	margin-right:100px;
	margin-bottom: 20px;
}

.cont2 p{
	font-size: 20px;
	font-family: New-Times-Roman;
	margin-left: 110px;
	margin-right:100px;
	margin-bottom: 40px;
}

.link h1{
	font-size: 20px;
	font-family: New-Times-Roman;
	margin-left: 110px;
	margin-right:100px;
	margin-bottom: 5px;
}

.link a{
	text-decoration: none;
	color: #000000;
}

.link a:hover{
	 cursor: pointer;
    color: #96453C;
}

.footer{
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 300px;
  background-color: #DCEBB0;
}

.footer li{
  font-size: 15px;
  font-weight: bold;
  font-family: New-Times-Roman;
  padding: 5px;
  display: block;
}

.footer li a{
  opacity: 60%;
  transition: 1s;
  color: #9E2A2B;
  text-decoration: none;
}

.footer2 li{
  padding-top: 30px;
  display: inline-block;
}



.footer img{
  cursor: pointer;
  padding-bottom: 20px;
  border-radius: 10%;
  padding-top: 30px;
  width: 80px;
  height: 130px;
}

.footer p{
  font-size: 10px;
  padding-left: 40px;
  padding-top: 10px;
}

.footer li a:hover{
  opacity: 100%;
}
