* {
    margin: 0;
  }

::-webkit-scrollbar{
    
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #cfa188;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #96453C;
}

::-webkit-scrollbar-thumb:hover{
    background: #CC7C2D; 
}

.wrapper{
	background-color: #fffde7;
	width: 100%;
	height: 1000%;
}

* {box-sizing: border-box;}

.logo{
    height: 65px;
    width: 70px;
	padding:none;
}

.logo:hover{
    height: 66px;
    width: 70px;
    background-color: #9E2A2B;
}

.navi{
    text-align: center;
    background-color: #B87E5F;
    width: 100%;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
	display: flex;
    justify-content: center;
    align-items: center;
}

.navi a{
     padding: 20px 100px;
	text-decoration:none;
	font-size:25px;
	color:white;
	text-align:center;
}


.navi a:after {
    display:block;
    content: '';
    border-bottom: solid 3.5px #9E2A2B;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    
}
.navi a:hover{
    cursor: pointer;
    color: #9E2A2B;
}

.navi a:hover:after{
    border-collapse: separate;
    border-spacing: 10px;
    transform: scaleX(1); 
}

.title {
	font-size:100px;
	text-align:center;
	font-family:"Arial Bold";
	padding-top:10px;
	color:#C7A746;
	animation-name: titleeffect;
    animation-duration: 5s;
    animation-iteration-count: infinite;
	animation-delay:-3s;
}

.crt {
	font-size:40px;
	margin-left: 46%;
	font-family:"Arial Bold";
	padding-top:10px;
	color:#B87E5F;
}

.info{
	margin-left: 36%;
    background-color: #B87E5F;
    width: 400px;
    height: 80px;
	 text-align: center;
	 align-items: center;
}

.pic img{
	float: center;
	width: 110px;
	height: 115px;
	border-radius: 50px;
	margin-left: 47%;
}

.info p {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.infot{
	margin-left: 36%;
    background-color: #B87E5F;
    width: 400px;
    height: 80px;
	 text-align: center;
	 align-items: center;
	 justify-content: center;
}

.pict img{
	float: center;
	width: 110px;
	height: 115px;
	border-radius: 50px;
	margin-left: 47%;
}

.infot p {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}


.infoth{
	margin-left: 36%;
    background-color: #B87E5F;
    width: 400px;
    height: 80px;
	 text-align: center;
	 align-items: center;
	 justify-content: center;
}

.picth img{
	float: center;
	width: 110px;
	height: 115px;
	border-radius: 50px;
	margin-left: 47%;
}

.infoth p {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.abt {
	text-align: center;

    width: 100%;
    height: 700px;
	text-align: center;
	justify-content: center;
	
}

.abt p {
     color:#2f0909;
	font-size: 22px;
	font-family:"Arial Bold";
	
}


