* {
    margin: 0;
  }

::-webkit-scrollbar{
    
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #cfa188;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #96453C;
}

::-webkit-scrollbar-thumb:hover{
    background: #CC7C2D; 
}



* {box-sizing: border-box;}

.logo{
    position: absolute;
    overflow: hidden;
    height: 70px;
    width: 70px;
    left: 100px;
    transition: 250ms;
    background-size: 70px 70px;
}

.logo:hover{
    height: 70px;
    width: 75px;
    background-color: #DCEBB0 ;
}

.navi{
    text-align: center;
    background-color: #B87E5F;
    width: 100%;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
   
}

li.a{
    border-collapse: separate;
    border-spacing: 100px;
    display: inline-block;
    padding: 20px 110px;
}

li.a a:link{
    color: #96453C;
    font-size: 30px;
    text-decoration: none;
}

li.a a:after {
    display:block;
    content: '';
    border-bottom: solid 3.5px #DCEBB0;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    
}
li.a a:hover{
    cursor: pointer;
    color: #DCEBB0;
}

li.a a:hover:after{
    border-collapse: separate;
    border-spacing: 10px;
    transform: scaleX(1); 
}

.title {
	font-size:100px;
	text-align:center;
	font-family:"Arial Bold";
	padding-top:10px;
	color:#C7A746;
	animation-name: titleeffect;
    animation-duration: 5s;
    animation-iteration-count: infinite;
	animation-delay:-3s;
}

.crt {
	font-size:40px;
	margin-left: 46%;
	font-family:"Arial Bold";
	padding-top:10px;
	color:#B87E5F;
}

.info{
	
	margin-left: 37%;
    background-color: #B87E5F;
    width: 400px;
    height: 80px;
	 text-align: center;
	 align-items: center;
}

.pic img{
	float: center;
	width: 110px;
	height: 115px;
	border-radius: 50px;
	margin-left: 47%;
}

.info p {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.infot{
	margin-left: 37%;
    background-color: #B87E5F;
    width: 400px;
    height: 80px;
	 text-align: center;
	 align-items: center;
	 justify-content: center;
}

.pict img{
	float: center;
	width: 110px;
	height: 115px;
	border-radius: 50px;
	margin-left: 47%;
}

.infot p {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}


.infoth{
	margin-left: 37%;
    background-color: #B87E5F;
    width: 400px;
    height: 80px;
	 text-align: center;
	 align-items: center;
	 justify-content: center;
}

.picth img{
	float: center;
	width: 110px;
	height: 115px;
	border-radius: 50px;
	margin-left: 47%;
}

.infoth p {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.abt {
	text-align: center;

    width: 100%;
    height: 700px;
	text-align: center;
	justify-content: center;
	
}

.abt p {
     color:#2f0909;
	font-size: 22px;
	font-family:"Arial Bold";
	
}

.footer{
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 300px;
  background-color: #DCEBB0;
}

.footer li{
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  display: block;
}

.footer li a{
  opacity: 60%;
  transition: 1s;
  color: #9E2A2B;
  text-decoration: none;
}

.footer2 li{
  padding-top: 30px;
  display: inline-block;
}

.footer img{
  cursor: pointer;
  padding-bottom: 20px;
  border-radius: 10%;
  padding-top: 30px;
  width: 80px;
  height: 130px;
}

.footer p{
  font-size: 10px;
  padding-left: 40px;
  padding-top: 10px;
}

.footer li a:hover{
  opacity: 100%;
}


