* {
    margin: 0;
  }

::-webkit-scrollbar{
    
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #cfa188;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #96453C;
}

::-webkit-scrollbar-thumb:hover{
    background: #CC7C2D;
}

/* Navigation */
.logo{
    position: absolute;
    overflow: hidden;
    height: 70px;
    width: 70px;
    left: 100px;
    transition: 250ms;
    background-size: 70px 70px;
}

.logo:hover{
    height: 70px;
    width: 75px;
    background-color: #DCEBB0 ;
}

.navi{
    text-align: center;
    background-color: #B87E5F;
    width: 100%;
    height: 70px;
    font-family: 'Times New Roman';;
   
}

li.a{
    border-collapse: separate;
    border-spacing: 100px;
    display: inline-block;
    padding: 20px 110px;
}

li.a a:link{
    color: #96453C;
    font-size: 30px;
    text-decoration: none;
}

li.a a:after {
    display:block;
    content: '';
    border-bottom: solid 3.5px #DCEBB0;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    
}
li.a a:hover{
    cursor: pointer;
    color: #DCEBB0;
}

li.a a:hover:after{
    border-collapse: separate;
    border-spacing: 10px;
    transform: scaleX(1);
}

/*arrow*/


.title{
    width: 100%;	
    color: #855c46;
    font-size: 100px;
    text-align: center;
    font-family: 'Times New Roman';;
    margin-top: 10px;
    position: absolute;
}

.arrow{
    padding-top: 50px;
    font-weight: bolder;
    font-size: 70px;
    
}

.arrow a:link{
    text-decoration: none;
    transition: 1s;
}

.arrow a{
    color: #B87E5F;
}

.arrow a:hover{
    cursor: pointer;
    color: #DCEBB0;
}

.gallery{
	margin-top:10px;
    border-top: 2px solid #96453C;
	border-bottom: 4px dotted #96453C;
    width: 100%;
    height: 400px;
}

.gallery img{
    object-fit: cover;
    width:100%;
	height:100%;
}

.source {
  font-size: 10px;
  position: relative;
  font-family: arial;
}

/*body*/
.img{
    padding-left: 100px;
}

.body img{
    margin-right: 100px;
    border: 5px solid #CC7C2D ;
    height: 700px;
    width: 500px;
    float: right;
}

.body{
    font-family: 'Times New Roman';
    padding: 10px 30px;
}

.body p{
    font-size: 25px;
    line-height: 2;
}

.body li{
    font-size: 25px;
    padding: 15px 0px;
}

.body h2{
    font-size: 40px;
    padding: 15px 0px;
    color: #cc7d2dce;
}

.body h1{
    color: #CC7C2D;
    padding: 30px 0px;
    font-size: 75px;
}
/* Footer */
.footer{
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 280px;
    background-color: #DCEBB0;
}

.footer li{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Times New Roman';;
    padding: 5px;
    display: block;
}

.footer li a{
    opacity: 60%;
    transition: 1s;
    color: #9E2A2B;
    text-decoration: none;
}

.footer2 li{
    padding-top: 30px;
    display: inline-block;
}

.footer img{
    cursor: pointer;
    padding-bottom: 20px;
    border-radius: 10%;
    padding-top: 30px;
    width: 80px;
    height: 80px;
}

.footer p{
    font-size: 10px;
    padding-left: 35px;
    padding-top: 10px;
}

.footer li a:hover{
    opacity: 100%;
}
