
* {box-sizing: border-box;}

::-webkit-scrollbar{
    
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #cfa188;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #96453C;
}

::-webkit-scrollbar-thumb:hover{
    background: #CC7C2D; 
}

/* Navigation */
.logo{
    height: 65px;
    width: 70px;
	padding:none;
}

.logo:hover{
    height: 66px;
    width: 70px;
    background-color: #9E2A2B;
}

.textnavi {
	float:right;
}
.textnavi a {
	padding: 20px 90px 20px 0px;
}
	


@media screen and (max-width: 500px) {
  .navi a {
    float: none;
    display: block;
    text-align: left;
  }
  .textnavi {
    float: none;
  }
}

.navi{
    background-color: #B87E5F;
    font-family: Times New Roman;
	overflow:hidden;
	padding: 20px 50px;

}

.navi a{
   float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
}


.navi a:after {
    display:block;
    content: '';
    border-bottom: solid 3.5px #9E2A2B;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    
}
.navi a:hover{
    cursor: pointer;
    color: #9E2A2B;
}

.navi a:hover:after{
    border-collapse: separate;
    border-spacing: 10px;
    transform: scaleX(1); 
}
* {
    margin: 0;
  }

.previous {
  margin-top:10px;
  background-color: #CC7C2D;
  color: black;
}

.round {
  border-radius: 50%;
}

.np a {
  text-decoration: none;
  display: inline-block;
  font-size:30px;
  padding:10px;
  color:white;
}

.np h1 {
	position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
	font-size:50px;
	color:#C7A746;
	
}

.np a:hover {
  opacity:75%;
  cursor:pointer;
}

.np .previous {
	margin-left:10px;
}

.gallery {
	width:100%;
	height:400px;
	border-top: 2px solid #96453C;
	border-bottom: 4px dotted #96453C;
	margin-top:10px;
}

.gallery img {
	width:100%;
	height:100%;
	object-fit:cover;
    display: block;
    animation-name:slidein;
    animation-duration:3s;
}

@keyframes slidein {
	from {
		 margin-left: 100%;
		 width: 300%;
	} 
	
	to {
		margin-left: 0%;
    width: 100%;
	}
}


.recipe,.procedure,.history{
	min-height: 100px;
	margin:50px;
	overflow:hidden;
	position:relative;
}

.history p {
	font-size:23px;
	text-indent:50px;
	text-align:justify;
	padding-top:20px;
	margin:20px;
}

.history h1, .recipe h1, .procedure h1 {
	font-size:50px;
	padding-left:20px;
	color:#C7A746;
}

.recipe ul {
	display:inline-block;
	font-size:23px;
	text-align:justify;
	padding-top:20px;
}

.pic img {
	width:300px;
	height:300px;
	padding:0 auto;
	margin-bottom:30px;
	object-fit:cover;
}

.pic {
	width:350px;
	height:350px;
	float:right;
	text-align:center;
	margin:0 5%;
}

.pic a {
	color:#C7A746;
	margin-top:50px;
}

.procedure ol {
	display:inline-block;
	font-size:23px;
	text-align:justify;
	padding-top:20px;
}

.recipe li, .procedure li{
	padding-left:20px;
	padding-top:10px;
}

.recipe .category {
	font-weight:bold;
	list-style-type:none;
	padding-left: 0;
	margin-left:-20p;
}

/* Footer */
.footer{
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 300px;
  background-color: #DCEBB0;
}

.footer li{
  font-size: 15px;
  font-weight: bold;
  font-family: Times-New-Roman;
  padding: 5px;
  display: block;
}

.footer li a{
  opacity: 60%;
  transition: 1s;
  color: #9E2A2B;
  text-decoration: none;
}

.footer2 li{
  padding-top: 30px;
  display: inline-block;
}

.footer img{
  cursor: pointer;
  padding-bottom: 20px;
  border-radius: 10%;
  padding-top: 30px;
  width: 80px;
  height: 130px;
}

.footer p{
  font-size: 10px;
  padding-left: 40px;
  padding-top: 10px;
}

.footer li a:hover{
  opacity: 100%;
}
